@import "~antd/dist/antd.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 30px;
  padding: 0px 0px 0px 0px;
}

.margin-bottom-xsmall {
  margin-bottom: 8px;
}

.margin-bottom-small {
  margin-bottom: 12px;
}

.margin-bottom,
.margin-bottom-medium {
  margin-bottom: 24px;
}

.margin-bottom-large {
  margin-bottom: 36px;
}

.margin-bottom-xlarge {
  margin-bottom: 48px;
}
